<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/qtism/runtime/processing/templates</directory>
      <file phpVersion="8.0.0" phpVersionOperator="&gt;=">./src/qtism/data/expressions/operators/Match.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="QTI-SDK Test Suite">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <!-- PHP configuration -->
  <php>
    <!-- About 300Mo are consumed on Travis CI or ContinuousPHP. -->
    <ini name="memory_limit" value="1024M"/>
  </php>
</phpunit>
